body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: $green1;
}

div, span, p {
  color: $green5;
}


h1 {
  font-family: flower;
  text-align: center;
}

.main-img {
  margin: 64px auto;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .main-img {
    animation: main-img infinite 20s linear;
  }
}

@keyframes main-img {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}