nav {
  width: 100vw;
  height: 50px;
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 32px;
  
  a {
    color: white;
    font-size: 36px;
    text-decoration: none;
    margin-right: 32px;

    &:hover{
      text-decoration: underline;
    }
  }
}