// color
$yellow           : #ffe577;
$orange           : #fec051;
$lightcoral       : #ff8967;
$coral            : #fd6051;
$darkviolet       : #392033;

$green1           : #014422;
$green2           : #006727;
$green3           : #248823;
$green4           : #25a032;
$green5           : #a4d279;

// font
@font-face {
  font-family: "flower";
  src: url("../assets/fonts/IndieFlower-Regular.ttf")
}